.page-content {
  background: white;
}
.index-pane,
.left-pane,
.right-pane,
.alt-pane {
  padding-top: 12px;
}
.index-pane {
  margin-top: 12px;
}
.left-pane,
.right-pane {
  padding-bottom: 64px;
  padding-left: 32px;
  background: #f8f8f8;
}
.index-pane .navbar {
  max-width: 120px;
}
.right-pane {
  background: #E6EEF4;
  padding-left: 32px;
}
.right-pane h2 a {
  color: brown;
}
.alt-pane {
  margin: 0;
  padding: 0;
}
.alt-pane ul {
  padding: 0 8px;
}
.alt-pane ul li {
  text-align: center;
  padding: 2px;
  font-size: 11px;
  line-height: 1em;
}
.alt-pane ul li img {
  width: 90%;
}
.alt-pane ul li a {
  color: #aaaaaa;
}
.content-area {
  max-width: 720px;
  margin: auto;
}
.content-area ul {
  margin: 0;
  padding: 0;
}
.content-area ul li {
  padding: 1em;
}
.content-area ul.tight li {
  padding: 0.2em;
}
